*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color-2: #020300;
  --clr-primary: #da344d;
  --clr-primary-light: #f36271;
  --clr-grey-1: hsl(210, 36%, 96%);
  --clr-grey-2: #f1f5f8;
  --clr-grey-3: hsl(210, 3%, 51%);
  --clr-grey-4: hsl(209, 61%, 16%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-white: #fff;
  --text-uppercase: uppercase;
  --radius: 0.5rem;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.5rem;
}

body {
  font-size: 1rem;
  background: var(--clr-white);
  line-height: 1.25;
}
main {
  overflow-x: hidden;
  min-width: 95vw;
}
.section {
  padding: 5rem 0;
  overflow-x: hidden;
}
.section-center {
  min-width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 2rem;
}
.section-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

h1,
h2,
h3,
h4 {
  color: var(--clr-grey-4);
  text-transform: capitalize;
}
.span-title {
  color: var(--clr-primary);
}
.header {
  height: 100vh;
  min-width: 95vw;
  background-color: var(--clr-primary);
  position: relative;
}
/* Styles for the navbar */
.nav {
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5rem;
}
.nav-links,
.nav-links-one {
  display: none;
}
.logo,
.nav-button {
  /* border: 2px solid purple; */
  display: block;
}
.title-logo {
  color: var(--clr-white);
  font-size: 2rem;
}
.links {
  color: var(--clr-grey-4);
  transition: var(--transition);
}
.links:hover {
  color: var(--clr-white);
}
.links-one {
  color: var(--clr-primary);
  text-align: center;
  display: inline-block;
  background: var(--clr-white);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-size: 1.1rem;
  cursor: pointer;
  transition: var(--transition);
  border: 2px solid transparent;
}
.links-one:hover {
  background: transparent;
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
}
@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
  .nav-links,
  .nav-links-one {
    display: flex;
    gap: 1rem;
  }
  .links {
    /* color: var(--clr-white); */
    text-transform: capitalize;
    font-size: 1.1rem;
  }
  .nav-header {
    width: auto;
    justify-content: space-between;
  }
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*
==================== 
End of styles for the navbar 
==========================
*/

/* 
===========================
Styles for the hero section
==========================
*/
.hero {
  background: var(--clr-primary);
}
.hero-center {
  min-height: calc(100vh - 5rem);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hero-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color-8);
}
.new {
  color: var(--clr-primary);
  transition: var(--transition);
}
.new:hover {
  color: var(--clr-white);
}
.but {
  margin-top: 2rem;
  text-transform: uppercase;
}
.head-image {
  display: none;
}

@media screen and (min-width: 992px) {
  .hero-center {
    justify-content: space-between;
    width: 80vw;
  }
  .head-image {
    display: grid;
    position: relative;
  }
  .image-one {
    max-width: 25rem;
    max-height: 30rem;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
  .head-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-grey-1);
    top: -2rem;
    right: 2rem;
    border-radius: var(--radius);
  }
}
/* 
===========================
End of styles for the hero section
==========================
*/
/* 
===========================
Styles for the about section
==========================
*/
.about {
  background: var(--clr-white);
}
.about-info {
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  letter-spacing: var(--spacing);
}
/* 
===========================
End of styles for the about section
==========================
*/
/* 
===========================
Styles for the product section
==========================
*/
.product {
  background: var(--clr-grey-2);
}
.product-card {
  margin-right: auto;
  margin-left: auto;
}
.card {
  background: var(--primary-color-9);
  width: 20rem;
  height: 23rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: var(--radius);
  text-align: center;
  margin-bottom: 2.5rem;
}
.product-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: var(--radius);
}
.product-name {
  text-transform: capitalize;
  margin-top: 1rem;
  display: grid;
  row-gap: 0.5rem;
  text-align: left;
}
.price {
  color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
  .product-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .product-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    justify-content: center;
  }
}
/* 
===========================
End of styles for the product section
==========================
*/
/* 
===========================
Styles for the services section
==========================
*/
.services {
  background: var(--clr-white);
}
.service-card {
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  text-align: center;
  border-radius: var(--radius);
  transition: var(--transition);
  /* border: 2px solid tomato; */
}
.service-title {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.service-info {
  max-width: 20rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .services-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .service-card {
    flex: 0 0 calc(50%);
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    display: flex;
  }
  .service-card {
    flex: 0 0 calc(33.33% - 1rem);
  }
}
/* 
===========================
End of styles for the services section
==========================
*/

/* 
===========================
Styles for the order section
==========================
*/
.order {
  background: var(--clr-grey-1);
}
.contact-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  margin: 1rem 0;
}
.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.contact-form h3 {
  padding-top: 1.25rem;
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--clr-grey-1);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-3);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  font-weight: 700;
  font-size: 0.875rem;
  transition: var(--transition);
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.submit-btn:hover {
  background: var(--clr-primary-light);
}
.contact {
  margin-top: 3rem;
}
.contact-item {
  margin-bottom: 1.75rem;
}
.contact-title {
  color: var(--clr-primary);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.25rem;
}
.contact-text {
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .order-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
  }
}
/* 
===========================
End of styles for the order section
==========================
*/ /* 
===========================
Styles for the footer section
==========================
*/
.footer {
  background: var(--primary-color-2);
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: capitalize;
}
.foot {
  margin-right: 1rem;
  color: var(--clr-primary);
  transition: var(--transition);
}
.foot:hover {
  color: var(--clr-white);
}

.footer-text h4 {
  text-align: center;
  margin-top: 1.25rem;
  text-transform: uppercase;
  color: var(--clr-white);
  font-weight: 400;
}
